body 
  font-family helvetica 
  padding 20px
  color #333
  
.code-sample-source
  margin-top 20px 
  padding 20px
  background #eee
  border-radius 4px 
  
  h1
    margin-top 0 

.code-sample
  margin-top 20px 
  padding 20px
  font-size 14px 
  border-radius 4px 
  font-family monospace 
  background #333
  color white 
  line-height 1.6 
  
  pre 
    margin 0
    